body{
  background: -webkit-linear-gradient(left, #0e6aa8, #099c5f);
}
.searchRepos-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:link {
  color :#0b4e8d;
  text-decoration: none;
}
a:visited {
  color: #0b4e8d;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}